@using Online_book_shop.Models.ViewModel;
@using Online_book_shop.Handlers.Helper;
@using Online_book_shop.Models;
@using Online_book_shop.Handlers.Business;
@using Newtonsoft.Json;
@Model BookVMTile;
@{
    BookProperties bookProperty = HTMLHelper.GetBookProperties(Model.Property);//Model.Property.Where(p => p.NumberOfCopies > 0).OrderBy(p => p.Price).FirstOrDefault();
    BookPromotionVM promo = BusinessHandlerPromotion.GetPromotionForBook(Model.Id, bookProperty != null ? bookProperty.Id : 0, bookProperty != null ? bookProperty.Price : 0);
    <div class="item">
        <div class="item-inner">
            @if (promo != null)
            {
                if (promo.PromotionMethods == (int)PromotionMethods.DeductFromFinalAmount)
                {
                    <div class="discount-pers">Offer<br />Off</div>

                }
                else if (promo.PromotionMethods == (int)PromotionMethods.FixedAmount)
                {
                    <div class="discount-pers">@promo.DiscountValue<br />Off</div>

                }
                else if (promo.PromotionMethods == (int)PromotionMethods.Percentage)
                {
                    <div class="discount-pers">@promo.DiscountValue%<br />Off</div>

                }
            }
            <div class="viewmore-discprice">
                <a href="/book/@Model.Id" target="_blank" class="viewmore"></a>
                @if (promo != null && promo.DiscountValue > 0)
                {
                    <div class="discounted-price">-Rs.@promo.DiscountAmount/=</div>
                }
            </div>
            <div class="book-image">
                @if (Model.FrontCover != null && HTMLHelper.isImageExist("Content/UploadFiles/Images/BookFrontCover/" + Model.FrontCover.FileName))
                {
                    <img src="@Url.Action("Thumbnail", "Utility", new {FileName="~/Content/UploadFiles/Images/BookFrontCover/"+Model.FrontCover.FileName})"
                         class="img-fluid"
                         title="@Model.BookName"
                         alt="muses @Model.BookName" />
                    @*<img src="~/Content/UploadFiles/Images/BookFrontCover/@b.FrontCover.FileName?w=160&h=100" alt="@b.BookName" />*@
                }
                else
                {
                    <img src="~/Content/images/no-image-book.jpg" alt="@Model.BookName" />
                }

            </div>
            <div class="book-name-author ">
                <div class="name"><span class="sinhala">@Model.LocalBookName</span> - <span class="english">@Model.BookName</span></div>
            </div>
            @{
                List<Author> mulauthors = BusinessHandlerAuthor.GetmultipleAuthors(Model.Id);
                if (mulauthors != null && mulauthors.Count > 0)
                {
                    
                    <div class="book-name-author">
                        <div class="author">
                            <span class="sinhala">@Model.LocalAuthorName</span> <br />
                            @foreach (Author author in mulauthors)
                            {
                                <span class="sinhala">@author.LocalName</span> @Html.Raw("-") <span class="english">@author.Name</span>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="book-name-author">
                        <div class="author"><span class="sinhala">@Model.LocalAuthorName</span> - <span class="english">@Model.AuthorName</span></div>
                    </div>
                }
            }

            <div class="category">
                @foreach (Category c in Model.Categories)//.Take(2)
                {
                    <span class="cat-name">@c.CategoryName</span>
                }
            </div>
            <div class="rating">
                <div class="stars" data-rating="@Model.Rating"></div>
            </div>
            @{
                if (bookProperty != null)
                {
                    if (promo != null)
                    {
                        if (promo.DiscountAmount > 0)
                        {
                            <div class="price hasdiscount">Rs.@promo.BookPrice/=</div>
                            <div class="discount-price">Rs.@promo.BookPriceAfterDiscount/=</div>
                        }
                        else
                        {
                            <div class="discount-price">Rs.@bookProperty.Price/=</div>
                        }
                    }
                    <div class="addto-cart btn-active add-to-cart" data-book_id="@Model.Id" data-book_prop_id="@bookProperty.Id" data-number_of_items="1">
                        Add to Cart
                        <div class="icon"></div>
                    </div>
                }
                else
                {
        <div class="price msg-availability">@HTMLHelper.GetNoStockMessage(b.SaleType)</div>
                    <div class="addto-cart btn-active">
                        Add to Cart
                        <div class="icon"></div>
                    </div>
                }
            }
        </div>
    </div>
}