@model Online_book_shop.Models.ViewModel.BookVM
@using Online_book_shop.Models.ViewModel;
@using Online_book_shop.Models;
@using Newtonsoft.Json;
@{ Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
                List<string> Obj_book_property_types = ViewBag.book_property_types;
                List<DataObjVM> data = ViewBag.list; }
<h2>New Book/Book Pack</h2>
<script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
<form id="form-add-book" method="post" action="/Admin/Book/AddBook" enctype="multipart/form-data">
    <div class="col-lg-12">
        <h3>Select Item Type</h3>
        <div class="form-check col-lg-2">
            <input class="form-check-input check-item-type" type="radio" value="0" name="ItemType" id="ItemTypeBook" checked>
            <label class="form-check-label check-item-type" for="ItemTypeBook">
                Book
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input check-item-type" value="1" type="radio" name="ItemType" id="ItemTypeBookPack">
            <label class="form-check-label" for="ItemTypeBookPack">
                Book Pack
            </label>
        </div>
    </div>
    <div class="row col-lg-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Basic Details
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" id="Title" name="Title" placeholder="Title">
                </div>
                <div class="form-group">
                    <label>Title(Sinhala)</label>
                    <input type="text" class="form-control" id="LocalTitle" name="LocalTitle" placeholder="Title(Sinhala)">
                </div>
                <div class="form-group">
                    <label>ISBN Or Book pack ID</label>
                    <input type="text" class="form-control" id="ISBN" name="ISBN" placeholder="ISBN Or Book pack ID" />
                </div>
                <div class="form-group">
                    <label>Categories</label>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                @foreach (Category c in ViewBag.Categories)
                                {
                    <div class="col-lg-4">
                        <div class="input-group-prepend">
                            <label class="input-group-text">
                                <input type="checkbox" class="category-check-box" aria-label="Checkbox for following text input" value="@c.Id"><span>@c.CategoryName</span>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>}
                                <input type="hidden" id="Categories" name="Categories" value="" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <textarea type="text" class="form-control" id="Description" name="Description" placeholder="Description"></textarea>
                    <script>
                        CKEDITOR.replace('Description');
                    </script>
                </div>
                <div class="form-group">
                    <label>You Tube Vedio</label>
                    <input type="text" class="form-control" id="YoutubeUrl" name="YoutubeUrl" placeholder="Youtube Url">
                </div>
                <div class="form-group publisherId-container">
                    <label>Publisher<span class="text-success refresh-publishers" style="cursor:pointer;"></span></label>
                    <div class="select">
                        <select id="PublisherId" class="form-control" name="PublisherId">
                            @foreach (Publisher publisher in ViewBag.Publishers)
                            {
                <option value="@publisher.Id">@publisher.Name</option>
}
                        </select>
                    </div>
                </div>
                <div class="form-group  author-block">
                    <label>Author<span class="text-success refresh-authors" style="cursor:pointer;"></span></label>
                    <div class="select  main-author-block">
                        <select id="AuthorId" class="form-control selected-author-drop" name="AuthorId">
                            <option value="0">--Select--</option>
                            @foreach (Author author in ViewBag.Authors)
                            {
                <option value="@author.Id">@author.Name</option>}
                        </select>
                    </div>
                    <span class="btn btn-xs add-more-author">Add more</span>
                </div>
                <div class="form-group">
                    <label>Language</label>
                    <div class="select">
                        <select id="LanguageId" class="form-control" name="LanguageId">
                            @foreach (Language l in ViewBag.Languages)
                            {
                                if (l.Name == "Sinhala")
                                {
                <option selected value="@l.Id">@l.Name</option>
 }
            else
            {
            <option value="@l.Id">@l.Name</option>
}

    }

                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Sale Type</label>
                    <div class="select">
                        <select id="SaleType" class="form-control" name="SaleType">
                            @if (ViewBag.SaleStatus != null)
                            {
                                List<SaleStatus> saleStatuses = ViewBag.SaleStatus;
                                foreach (SaleStatus s in saleStatuses)
                                {
                <option @("Available" == s.DisplayText ? "selected" : "") value="@s.Id">@s.DisplayText</option>
}
        }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label id="lbl-pre-release-end-date">Pre Release End Date</label>
                    <input type="text" value="@DateTime.Now" class="form-control" id="PreReleaseEndDate" name="PreReleaseEndDate" placeholder="Pre Release End Date">
                </div>
                <div class="form-group">
                    <label id="lbl-pre-release-end-date">Book Available Until</label>
                    <input type="text" value="@DateTime.Now" class="form-control" id="AvailableUntil" name="AvailableUntil" placeholder="Available Until">
                </div>
                <div class="form-group">
                    <label>Free Read Content</label>
                    <input type="file" class="form-control-file" id="FreeReadPDFMedia" name="FreeReadPDFMedia">
                </div>
                <div class="form-group">
                    <label>Front Cover (300*376)</label>
                    <input type="file" class="form-control-file bk_front_img" id="FrontCoverMedia" name="FrontCoverMedia">
                    <div>
                        <img id="temp_img_bk_front_img" style="height:100px;" class="img-thumbnail" src="~/Content/images/NoImage.jpg" alt="Profile Image" />
                    </div>
                </div>
                <div class="form-group">
                    <label>Back Cover (300*376)</label>
                    <input type="file" class="form-control-file bk_back_img" id="BackCoverMedia" name="BackCoverMedia">
                    <div>
                        <img id="temp_img_bk_back_img" style="height:100px;" class="img-thumbnail" src="~/Content/images/NoImage.jpg" alt="Profile Image" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Upload other images</label>
                    <input type="file" id="image_files" name="image_files[]" multiple />
                </div>
                <div class="form-group">
                    <label>Rating</label>
                    <input type="number" min="0" max="5" class="form-control" id="Ratings" name="Ratings" placeholder="Ratings" />
                </div>

                <div class="form-group">
                    <label>Maximum Number Of Items Per Cart</label>
                    <input type="number" min="0" value="0" class="form-control" id="MaximumItemPerOrder" name="MaximumItemPerOrder" placeholder="Maximum Item PerOrder" />
                </div>
            </div>

        </div>
    </div>
    <div class="book-property-container">
        @for (int i = 0; i < 5; i++)
        {

            string style = (i == 0 ? "display: block;" : "display: none;");
<div class="row col-lg-12 col-md-12 b-prop-@(i + 1)" style="@style">
    <div class="panel panel-default">
        <div class="panel-heading">
            Type of books
        </div>
        <div class="panel-body">
            <div class="col-lg-6" style="border-right:solid 1px;">
                <h3 class="mini-header">Base Property</h3>
                <hr />
                <div class="form-group">
                    <label>Property Title</label>
                    <div class="select">
                        <select id="BookProperties[@i].Title" name="BookProperties[@i].Title" class="form-control">
                            @foreach (var item in Obj_book_property_types)
                            {
            <option value="@item">@item</option>}

                            @*<option value="Hard Bind Cover">Hard Bind Cover</option>
                                <option value="Other">Other</option>*@
                        </select>
                    </div>
                    @*<input type="text" class="form-control" id="BookProperties[@i].Title" name="BookProperties[@i].Title" placeholder="Title">*@
                </div>
                <div class="form-group hidden">
                    <label>Property Description</label>
                    <textarea type="text" class="form-control" id="BookProperties[@i].Description" name="BookProperties[@i].Description" placeholder="Description">Content Empty</textarea>
                </div>
                <div class="form-group">
                    <label>Number Of Pages</label>
                    <input type="number" class="form-control" id="BookProperties[@i].NumberOfPages" name="BookProperties[@i].NumberOfPages" placeholder="NumberOfPages">
                </div>
                <div class="form-group">
                    <label>Weight(One book by gram)</label>
                    <input type="number" class="form-control" id="BookProperties[@i].WeightByGrams" name="BookProperties[@i].WeightByGrams" placeholder="Weight By Grams">
                </div>
                <div class="form-group">
                    <label>Number Of Copies</label>
                    <input type="number" class="form-control" id="BookProperties[@i].NumberOfCopies" name="BookProperties[@i].NumberOfCopies" placeholder="Number Of Copies">
                </div>
                <div class="form-group">
                    <label>Raw Price</label>
                    <input type="number" class="form-control" id="BookProperties[@i].Price" name="BookProperties[@i].Price" placeholder="Price">
                </div>
                <input type="hidden" name="isAvailable_@i" id="isAvailable_@(i+1)" value="@i" />
            </div>
            <div class="col-lg-6">
                <h3 class="mini-header">Quick Promotion</h3>
                <hr />
                <div class="form-group">
                    <label>Discount Value</label>
                    <table>
                        <tr>
                            <td><input type="number" min="0" class="form-control" id="DiscountValue" name="BookProperties[@i].DiscountValue" value="20"></td>
                            <td class="col-lg-8">
                                <div class="select">
                                    <select class="form-control" name="BookProperties[@i].PromotionMethods">
                                        <option value="1">Percent</option>
                                        <option value="0">Fix Amount</option>
                                    </select>
                                </div>
                            </td>
                        </tr>

                    </table>



                </div>
            </div>

        </div>
        <div class="panel-footer text-right">
            <button class="btn btn-defaultv btn-b-prop-@(i+1)">Add New</button>
        </div>
    </div>
</div>}
    </div>
    <div class="book-pack-container col-lg-12" style="display:none">
        <div class="form-group">
            <label>Number Of Packs</label>
            <input type="number" class="form-control" id="item-number-of-copies" name="NumberOfCopies" placeholder="Number Of Copies">
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Books </label>
                <table>

                    <tr>
                        <td class="col-lg-6">
                            <div class="mce-match-marker-selected book-row ">
                                <select id="select-book-for-book-pack" class="form-control " name="select-book-for-book-pack">
                                    <option data-para="" class="obj_select" value="0">--Select--</option>
                                    @foreach (var item in data)
                                    {
                        <option data-author-id="@item.BookAuthorId" data-para="@item.OtherPara" class="obj_select bk_author_@item.BookAuthorId" value="@item.Id">@item.Name</option>}
                                </select>
                            </div>
                        </td>
                        <td class="col-lg-6">
                            @*<a id="filter-books-by-author" class="btn btn-primary btn-sm">Filter books by selected authors</a>*@
                            <a class="btn btn-warning btn-sm  add-new-bookpackrow">Add</a>
                            <input id="numberOfBooksForBookPacks" class="display-none" type="number" value="1" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a id="filter-books-by-authors" class="btn btn-info btn-sm margin-top-5px">Filter Books By Selected Author(s)</a>
                        </td>
                        <td></td>
                    </tr>
                </table>

            </div>
            <div>
                <ul id="book-pack-menu" class="list-group">
                </ul>
                <input id="selected-books" name="SelectedBooks" type="hidden" value="" />
            </div>
            @*<div class="form-group">
                    <label>Item Price</label>
                    <input type="number" class="form-control" id="item-price" name="ItemPrice" placeholder="Price">
                </div>*@

        </div>
        <div class="col-lg-6">
            <h3 class="mini-header">Quick Promotion</h3>
            <hr />
            <div class="form-group">
                <label>Discount Value</label>
                <table>
                    <tr>
                        <td><input type="number" min="0" class="form-control" id="BookPackDiscountValue" name="BookPackDiscountValue" value="20"></td>
                        <td class="col-lg-8">
                            <div class="select">
                                <select class="form-control" name="BookPackDiscountType">
                                    <option value="1">Percent</option>
                                    <option value="0">Fix Amount</option>
                                </select>
                            </div>
                        </td>
                    </tr>

                </table>



            </div>
        </div>

    </div>


    <button type="submit" class="btn btn-primary float-right">Submit</button>
</form>
<input type="hidden" id="all-books-data" value="@JsonConvert.SerializeObject(data)" />

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
