
@model Online_book_shop.Models.ItemPack
@using Online_book_shop.Models.ViewModel;
@using Online_book_shop.Models;
@using Online_book_shop.Handlers.Helper;
@using Online_book_shop.Handlers.Business;
@{
    ViewBag.Title = "AddBookPack";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<DataObjVM> data = ViewBag.list;
    ItemPack Object = ViewBag.model;
    List<ItemPack_Item> selectedBooks= ViewBag.selectedBooks;
}
<style>
    input[type="file"] {
        display: block;
    }

    .imageThumb {
        max-height: 75px;
        border: 2px solid;
        padding: 1px;
        cursor: pointer;
    }

    .pip {
        display: inline-block;
        margin: 10px 10px 0 0;
        cursor: pointer;
    }
</style>

<h2>AddBookPack</h2>

<form method="post" action="/Admin/Book/EditBookPack" enctype="multipart/form-data">

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ItemPack</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "" })
            <div>
                <input type="text" id="Title" name="Title" value="@Object.Title" class="form-control" />
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocalTitle, htmlAttributes: new { @class = "" })
            <div>
                <input type="text" id="LocalTitle" name="LocalTitle" value="@Object.LocalTitle"  class="form-control"/>
                @Html.ValidationMessageFor(model => model.LocalTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemPackIdentityID, htmlAttributes: new { @class = "" })
            <div>
                <input type="text" id="ItemPackIdentityID" name="ItemPackIdentityID" value="@Object.ItemPackIdentityID"  class="form-control"/>
                @Html.ValidationMessageFor(model => model.ItemPackIdentityID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "" })
            <div>
                <textarea id="Description" name="Description"  class="form-control">@Object.Description</textarea>
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "" })
            <div>
                <input type="text" id="Price" name="Price" value="@Object.Price"  class="form-control"/>
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Sale Type</label>
            <div class="select">
                <select id="SaleType" class="form-control" name="SaleType">
                    <option value="1">Normal Sale.</option>
                    <option value="0">Pre Order</option>
                    <option value="2">Out of Print</option>
                    <option value="3">In 2 days</option>
                    <option value="4">In 2 weeks </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Sale Start Date</label>
            <div>
                <input type="text" id="SaleStartDate" name="SaleStartDate" value="@Object.SaleStartDate"  class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Sale End Date</label>
            <div>
                <input type="text" id="SaleEndDate" name="SaleEndDate" value="@Object.SaleStartDate"  class="form-control">

                @Html.ValidationMessageFor(model => model.SaleEndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Front Cover</label>
            <input type="file" class="form-control-file bk_front_img" id="FrontCoverMedia" name="FrontCoverMedia">
            <div>
                <img id="temp_img_bk_front_img" style="height:100px;" class="img-thumbnail" src="~/Content/images/NoImage.jpg" alt="Profile Image" />
            </div>
            @{
                Media m = BusinessHandlerMedia.Get(Object.FrontCoverMediaId);
            }
            @if ( HTMLHelper.isImageExist("Content/UploadFiles/Images/BookFrontCover/" + m.FileName))
            {
                <div class="div-square">
                    <img src="@Url.Action("ResizeImage", "AdminUtility", new {FileName="~/Content/UploadFiles/Images/BookFrontCover/"+m.FileName,width=67,height=102})" height="100" alt="" />
                    @*<img src="~/Content/UploadFiles/Images/BookFrontCover/@Model.FrontCover.FileName" width="100" />*@
                </div>
            }
            else
            {
                <div class="div-square">
                    <i class="fa fa-book fa-5x"></i>
                </div>
            }

        </div>
        <div class="form-group">
            <label class="control-label">Upload other images</label>
            <input type="file" id="image_files" name="image_files[]" multiple />
        </div>
        <div class="form-group">
            <label>Books </label>
            <table>
                <tr>
                    <td class="col-lg-6">
                        <div class="select mce-match-marker-selected book-row ">
                            <select id="select-book-for-book-pack" class="form-control " name="select-book-for-book-pack">
                                <option data-para="" class="obj_select" value="0">--Select--</option>
                                @foreach (var item in data)
                                {
                                    <option data-para="@item.OtherPara" class="obj_select" value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                    </td>
                    <td class="col-lg-6">
                        <a class="btn btn-warning btn-sm  add-new-bookpackrow">Add</a>
                        <input id="numberOfBooksForBookPacks" class="display-none" type="number" value="1" />
                    </td>
                </tr>
            </table>

        </div>
        <div>
            <ul id="book-pack-menu" class="list-group">
                @if (selectedBooks != null)
                {

                    foreach (var item in selectedBooks)
                    {

                        var book= data.Where(x => x.Id == item.ItemId && x.OtherPara== "{\"BookPropertyId\":"+item.ItemPropertyId+"}").FirstOrDefault();
                        <li data-amount='@book.OtherPara' class="list-group-item">@book.Name<span class="text-danger">Remove</span></li>
                    }
                }
            </ul>
            <input id="selected-books" name="SelectedBooks" type="hidden" value="" />

   
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>


