@using Online_book_shop.Models;
@using Online_book_shop.Handlers.Helper;
@using Online_book_shop.Handlers.Business;
@using Online_book_shop.Controllers;
@{
    ViewBag.Title = "Index";
    List<Book> books = ViewBag.Books;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    UtilityController uc = new UtilityController();
    double timeOffset = BusinessHandlerConfigurations.GetTimeOffSet();
}
<h1>Books / Book Packs</h1>
<table class="table">
    <thead>
        <tr>
            <th colspan="2" scope="col"><input class="col-lg-12" id="searchInput" type="text" placeholder="Search.."></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"><a href="/Admin/Book/AddBook" class="btn btn-xs btn-info">New Book/Book Pack</a></th>
            @if (Request.QueryString["hidden"] !=null && Request.QueryString["hidden"] == "true")
            {
                <th scope="col"><a href="/Admin/Book" class="btn btn-xs btn-warning">Hide hidden books</a></th>
            }
            else
            {
                <th scope="col"><a href="/Admin/Book?hidden=true" class="btn btn-xs btn-info">Show hidden books</a></th>
            }

        </tr>
    </thead>
    <thead>
        <tr>
            <th scope="col">Book Id</th>
            <th scope="col">Front Cover</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Created date</th>
             <th scope="col">Type</th>
            <th scope="col">Operation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Book book in books)
        {
            List<BookProperties> bps = BusinessHandlerBookProperties.GetByBookId(book.Id);
        <tr class="author-card">
            <th scope="row">@book.Id</th>
            <td>
                @if (bps != null && bps.Count > 0)
                {
                    Media m = BusinessHandlerMedia.Get(bps.FirstOrDefault().FrontCoverMediaId);
                    if (m != null && HTMLHelper.isImageExist("/Content/UploadFiles/Images/BookFrontCover/" + m.FileName))
                    {
                        <img  src="@Url.Action("ResizeImage", "AdminUtility", new {FileName="~/Content/UploadFiles/Images/BookFrontCover/"+m.FileName,width=67,height=102})" height="100" alt="" />
                        @*<img  src = "/Content/UploadFiles/Images/BookFrontCover/@m.FileName" height = "100" alt = "" />*@
                    }
                    else
                    {
                        <img height="100" src="~/Content/images/NoImage.jpg">

                    }
                }
                else
                {
                    <img height="100" src="~/Content/images/NoImage.jpg">

                }
            </td>
            <td>@book.Title</td>
            <td>@book.AuthorName</td>
            <td>@book.CreatedDate.AddHours(timeOffset).ToString("yyyy/MM/dd")</td>
            <td>@(book.ItemType == 0?"Book":"Book Pack" )</td>
            <td>
                <a href="/Admin/Book/edit/@book.Id" class="btn-xs btn-info">Edit Book</a><br /><br />
                @if (book.isDeleted)
                {
                    <a href="/Admin/Book/ShowItem/@book.Id" class="btn-xs btn-warning">Show In Site</a>
                }
                else
                {
                    <a href="/Admin/Book/HideItem/@book.Id" class="btn-xs btn-danger">Hide From Site</a>
                }
            </td>
        </tr>
        }

    </tbody>
</table>








