@using Online_book_shop.Models
@using Online_book_shop.Models.ViewModel;
@{
    ViewBag.Title = "Stock Management";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    StockVM summaryModel = ViewBag.Summary;
    List<Publisher> publishers = ViewBag.Publishers;
    List<Author> authors = ViewBag.Authers;
    int SelectedAuthorId = 0;
    int SelectedPublisherId = 0;
    int SelectedStockStatusId = 0;
    int PageId = 0;
    int ItemsPerPage = 10;

    List<BookCountVM> list = ViewBag.FilteredBookStock;

    if (!string.IsNullOrEmpty(Request.QueryString["author"]))
    {
        SelectedAuthorId = int.Parse(Request.QueryString["author"]);
    }
    if (!string.IsNullOrEmpty(Request.QueryString["publisher"]))
    {
        SelectedPublisherId= int.Parse(Request.QueryString["publisher"]);
    }
    if (!string.IsNullOrEmpty(Request.QueryString["stockstatus"]))
    {
        SelectedStockStatusId= int.Parse(Request.QueryString["stockstatus"]);
    }
    if (!string.IsNullOrEmpty(Request.QueryString["page"]))
    {
        PageId = int.Parse(Request.QueryString["page"]);
    }
    if (!string.IsNullOrEmpty(Request.QueryString["ItemsPerPage"]))
    {
        ItemsPerPage = int.Parse(Request.QueryString["ItemsPerPage"]);
    }
}

<h2>Stock Management</h2>
<div class="col-lg-12">
    <div class="col-lg-12" style="background-color: antiquewhite;margin:10px;">
        <div class="card padding-top-bottom">
            <div class="card-header py-3 padding-top-bottom">
                <h2 class="my-0 fw-normal">Summary Of Stocks</h2>
            </div>
            <div class="card-body">
                <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                    <div class="col-lg-3 minicart-padding">
                        <div class="card mb-4 rounded-3 shadow-sm rounded-border">
                            <div class="card-header py-3 bg-dark padding-top-bottom">
                                <h2 class="my-0 fw-normal">Total Items</h2>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">@(summaryModel !=null? summaryModel.TotalItem:0)</h1>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 minicart-padding">
                        <div class="card mb-4 rounded-3 shadow-sm rounded-border">
                            <div class="card-header py-3 bg-danger padding-top-bottom">
                                <h2 class="my-0 fw-normal">Out Of Stocks</h2>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">@(summaryModel !=null? summaryModel.OutOfStock:0)</h1>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 minicart-padding">
                        <div class="card mb-4 rounded-3 shadow-sm border-primary rounded-border">
                            <div class="card-header py-3 text-bg-primary border-primary bg-success padding-top-bottom">
                                <h2 class="my-0 fw-normal">Available</h2>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">@(summaryModel !=null? summaryModel.Available:0)</h1>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 minicart-padding">
                        <div class="card mb-4 rounded-3 shadow-sm border-primary rounded-border">
                            <div class="card-header py-3 text-bg-primary border-primary bg-danger padding-top-bottom">
                                <h2 class="my-0 fw-normal">Red Line</h2>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">@(summaryModel !=null? summaryModel.RedLine:0)</h1>

                            </div>
                        </div>
                    </div>
                </div>
                <div><small>Total Items:- All the books currently in the site except hidden ones.</small></div>
                <div><small>Out Of Stock:- Out of stock books currently available on the site except hidden books.</small></div>
                <div><small>Available:-Books in stock from all books currently available on the site except hidden books.</small></div>
                <div><small>Red Line:-Books that have reached the out of stock limit from all books currently availabel on the site except hidden books(The out of stock limit is 05).</small></div>

            </div>
        </div>

    </div>
    <hr />
    <div class="col-lg-12 margin-top-5px" style="background-color: antiquewhite; margin: 10px;">
        <div class="card padding-top-bottom">
            <div class="card-header py-3 padding-top-bottom">
                <h2 class="my-0 fw-normal">Advanced Stock Management</h2>
            </div>

            <div class="card-body">
                <table class="col-lg-12 ">
                    <thead>
                        <tr>
                            <td><h4>Filter by author</h4></td>
                            <td><h4>Filter by publisher</h4></td>
                            <td><h4>Filter by stock status</h4></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="select">
                                    <select id="authors" class="form-control" name="PublisherId">
                                        <option @(SelectedAuthorId == 0 ? "selected" : "") value="0">All</option>
                                        @if (authors != null)
                                        {
                                            foreach (Author a in authors)
                                            {
                                                <option @(SelectedAuthorId == a.Id ? "selected" : "") value="@a.Id">@a.Name</option>
                                            }

                                        }

                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="select">
                                    <select id="publisher" class="form-control" name="PublisherId">
                                        <option @(SelectedPublisherId == 0 ? "selected" : "") value="0">All</option>
                                        @if (publishers != null)
                                        {
                                            foreach (Publisher a in publishers)
                                            {
                                                <option @(SelectedPublisherId == a.Id ? "selected" : "") value="@a.Id">@a.Name</option>
                                            }

                                        }
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="select">
                                    <select id="stock_status" class="form-control" name="PublisherId">
                                        <option @(SelectedStockStatusId == 0 ? "selected" : "") value="0">All</option>
                                        <option @(SelectedStockStatusId == 1 ? "selected" : "") value="1">Available</option>
                                        <option @(SelectedStockStatusId == 2 ? "selected" : "") value="2">Red Line</option>
                                        <option @(SelectedStockStatusId == 3 ? "selected" : "") value="3">Out Of Stock</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <button id="btn-book-stock-advanced-filter" type="submit" class="btn btn-info float-right ">Search</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <hr />
    <div class="col-lg-12 margin-top-5px" style="background-color: #90fac2; margin: 10px;">
        <div class="card padding-top-bottom">
            <div class="card-header py-3 padding-top-bottom">
                <h2 class="my-0 fw-normal">Bulk Stock Update</h2>
            </div>
            <div class="card-body" style="background-color: antiquewhite;">
                @*<div class="margin-bottom-25">
                        <div class="col-lg-6">
                            Update Stock Status To
                        </div>
                        <div class="select col-lg-4">
                            <select id="stock_status" class="form-control" name="PublisherId">
                                <option @(SelectedStockStatusId == 0 ? "selected" : "") value="0">All</option>
                                <option @(SelectedStockStatusId == 1 ? "selected" : "") value="1">Available</option>
                                <option @(SelectedStockStatusId == 2 ? "selected" : "") value="2">Red Line</option>
                                <option @(SelectedStockStatusId == 3 ? "selected" : "") value="3">Out Of Stock</option>
                            </select>
                        </div>
                    </div>*@
                <div class="bg-info  margin-bottom-25">
                    <div class="col-lg-6">
                        Update Item Count To
                    </div>
                    <div class=" col-lg-4">
                        <input type="number" min="0"  class="form-control" id="bulk_update_amount" />
                    </div>
                    <input type="button" class="btn btn-success float-right update-bulk-amount" value="Update"/>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <div class="col-lg-12 margin-top-5px" style="background-color: antiquewhite; margin: 10px; ">
        <input class="form-control float-right" id="stock-page-search-input" type="text" placeholder="Search..">       
        <br>
        <table class="table table-bordered table-striped" style="background-color:white">
            <thead>
                <tr>
                    <th>Book Name</th>
                    <th>Property Name</th>
                    <th>Availability</th>
                    <th>Stock <strong>^</strong></th>
                    <th>Operation  <span style="cursor:pointer;font-size:18px" id="btn-book-stock-excel-download"  class="text-info float-right"><span>Export to EXCEL</span></span></th>
                </tr>
            </thead>
            <tbody id="stock-page-bookList">
                @if (list != null)
                {
                    foreach (BookCountVM s in list)
                    {
                        <tr>
                            <td>
                                <input style="width:18px; height:18px;" class="form-check-input bulk-edit-d-book-count" type="checkbox" data-book-id="@s.BookId-@s.BookPropertyId">
                                @if (s.Count <= 5)
                                {
                                    <span class="text-danger"> @s.BookName</span>
                                }
                                else
                                {
                                    <span > @s.BookName</span>
                                }
                            </td>
                            <td>@s.BookPropertyName</td>
                            <td style="">
                                <button class="@(s.Count <= 0?"btn-danger":"btn-success") btn btn-block">
                                    @(s.Count <= 0?"Out Of Stock":"In Stock")
                                </button>
                            </td>
                            <td>@s.Count</td>
                            <td>
                                <input id="book-count-@s.BookId-@s.BookPropertyId" min="0" type="number" />
                                <input data-book-id="@s.BookId" data-prop-id="@s.BookPropertyId"  type="button" class="btn btn-xs btn-success btn-book-count-update" value="Update" />
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @*<ul style="margin:10px" id="stock-page-bookList">
            @if (list != null)
            {
                foreach (BookCountVM s in list)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <input style="width:18px; height:18px;" class="form-check-input bulk-edit-d-book-count" type="checkbox" data-book-id="@s.BookId-@s.BookPropertyId">
                        <span style="font-size:24px;">@s.BookName (@s.BookPropertyName)</span>
                        <input class="float-left" type="number" />
                        <input type="button" class="float-left btn btn-sm btn-warning" value="Update" />
                        <span style="font-size:32px;" class="badge badge-primary badge-pill">@s.Count</span>
                    </li>
                }

            }
        </ul>*@
        @*<div class="col-lg-12 align-center">
            <ul class="pagination float-right">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </div>*@

    </div>

    
</div>


