@using Online_book_shop.Models;
@using Online_book_shop.Handlers.Business;
@using Online_book_shop.Models.ViewModel;
@{
    Layout = null;
    Order order = ViewBag.Order;
    Cart cart = ViewBag.cart;
    Address billing = BusinessHandlerAddress.GetAddress(order.BillingAddressId);
    Address delivery = BusinessHandlerAddress.GetAddress(order.DeliveryAddressId);
    DeliverStatus deliverStatus= BusinessHandlerDeliveryStatus.GetDeliverStatus(order.DeliveryStatus);
    double timeOffset = BusinessHandlerConfigurations.GetTimeOffSet();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="icon" href="~/Content/images/logo_uXb_icon.ico">
    <title>Muses Books | TODAY A READER TOMORROW A LEADER | Invoice</title>
</head>
<body>
    <div class="container">
        <div class="col-lg-12 text-center">
            <strong class="text-danger">Muses Books</strong> | <strong>TODAY A READER TOMORROW A LEADER | Invoice</strong>
            <h2 class="float-right" title="Print" style="cursor:pointer" onclick="window.print()"><i class="fas fa-print"></i></h2>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="col-12 row">
                    <div class="logo col-lg-12">
                        <a href="/"><img src="/Content/images/logo.png" alt="MusesBooks"></a>
                    </div>
                    <div class="col-lg-12 row">
                        <strong class=" text-danger col-lg-12 row">Muses Publishing House (Pvt) Ltd.</strong>
                        <strong class="col-lg-12 row">33/1, Katuwamulla Road</strong><br>
                        <strong class="col-lg-12 row">Ganemulla, Sri Lanka.</strong><br>
                        <strong class="col-lg-12 row">www.musesbooks.com</strong>
                        <div class="col-lg-12 row"><strong>Hotline:</strong> (+94)778245459</div>
                        <div class="col-lg-12 row"><strong>Packing Section:</strong> (+94)767879152</div>
                        <div class="col-lg-12 row"><strong>Ganemulla Book Shop:</strong> (+94)711342227</div>
                    </div>
                </div>
                             
            </div>
            <div class="card-header">
                @*<table class="table table-borderless margin-left-negative-15px" style="line-height:5px;">
                    <tr>
                        <td>
                            <strong>Date:</strong>
                            @order.CreatedDate.ToString("dddd, dd MMMM yyyy")
                        </td>
                        <td>
                            @if (deliverStatus != null)
                            {
                                <span> <strong>Delivery Status:</strong>@deliverStatus.DisplayText</span>
                            }
                            else
                            {
                                <span> <strong>Delivery Status:</strong>@order.DeliveryStatus</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Order Number:</strong>
                            @order.Id
                        </td>
                        <td>
                            @if (order.PaymentStatus == 0)
                            {
                                <span class="badge badge-secondary"></span>
                                <span> <strong>Payment Status:</strong>Pending</span>
                            }
                            else if (order.PaymentStatus == 1)
                            {
                                <span class="badge badge-secondary"></span>
                                <span> <strong>Payment Status:</strong>Paid</span>
                            }
                            else
                            {
                                <span class="badge badge-secondary">@Model.PaymentStatus</span>
                                <span> <strong>Payment Status:</strong>@order.PaymentStatus</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Invoice Number:</strong>
                            @order.UId
                        </td>
                        <td>
                            @if (order.PaymentMethod == 0)
                            {
                                <span> <strong>Payment Method:</strong>Cash On Delivery</span>
                            }
                            else if (order.PaymentMethod == 1)
                            {
                                <span> <strong>Payment Method:</strong>Online Payment</span>
                            }
                            else if (order.PaymentMethod == 2)
                            {
                                <span> <strong>Payment Method:</strong>Bank Transfer/Deposit</span>
                            }
                            else if (order.PaymentMethod == 3)
                            {
                                <span> <strong>Payment Method:</strong>Ez Cash</span>
                            }
                            else if (order.PaymentMethod == 4)
                            {
                                <span> <strong>Payment Method:</strong>Come and Collect</span>
                            }
                            else
                            {
                                <span> <strong>Payment Method:</strong>@order.PaymentMethod</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @if (order.DeliveryMethod == 0)
                            {
                                <span> <strong>Delivery Method:</strong>Postal</span>
                            }
                            else if (order.DeliveryMethod == 1)
                            {
                                <span> <strong>Delivery Method:</strong>Courier</span>
                            }
                            else if (order.DeliveryMethod == 2)
                            {
                                <span> <strong>Delivery Method:</strong>Collect From Store</span>
                            }
                            else
                            {
                                <span> <strong>Delivery Method:</strong>@order.DeliveryMethod</span>
                            }
                        </td>
                        <td>
                           
                        </td>
                    </tr>
                </table>*@ 
                <div class="col-lg-12 row">
                    <div class="col-lg-6 col-md-6 col-sm-6 row">
                        <div class="col-lg-6 col-md-12 col-sm-12 row"><strong>Date:</strong></div>
                        <div class="col-lg-6 col-md-12 col-sm-12 row">@order.CreatedDate.AddHours(timeOffset).ToString("dddd, dd MMMM yyyy")</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 row">
                        <div class="col-lg-6 col-md-12 col-sm-12 row"><strong>Delivery Status:</strong></div>
                        <div class="col-lg-6 col-md-12 col-sm-12 row">
                            @if (deliverStatus != null)
                            {
                                @deliverStatus.DisplayText
                            }
                            else
                            {
                                @order.DeliveryStatus
                            }
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 row">
                        <div class="col-lg-6 col-md-12 col-sm-12 row"><strong>Order Number:</strong></div>
                        <div class="col-lg-6 col-md-12 col-sm-12 row">@order.Id</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 row">
                        <div class="col-lg-6 col-md-12 col-sm-12 row"><strong>Payment Status:</strong></div>
                        <div class="col-lg-6 col-md-12 col-sm-12 row">
                            @if (order.PaymentStatus == 0)
                            {
                                <span class="badge badge-secondary"></span>
                                <span>Pending</span>
                            }
                            else if (order.PaymentStatus == 1)
                            {
                                <span class="badge badge-secondary"></span>
                                <span>Paid</span>
                            }
                            else
                            {
                                <span class="badge badge-secondary">@Model.PaymentStatus</span>
                                <span>@order.PaymentStatus</span>
                            }
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 row">
                        <div class="col-lg-6 col-md-12 col-sm-12 row"><strong>Invoice Number:</strong></div>
                        <div class="col-lg-6 col-md-12 col-sm-12 row">@order.UId</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 row">
                        <div class="col-lg-6 col-md-12 col-sm-12 row"><strong>Payment Method:</strong></div>
                        <div class="col-lg-6 col-md-12 col-sm-12 row">
                            @if (order.PaymentMethod == 0)
                            {
                                <span>Cash On Delivery</span>
                            }
                            else if (order.PaymentMethod == 1)
                            {
                                <span>Online Payment</span>
                            }
                            else if (order.PaymentMethod == 2)
                            {
                                <span>Bank Transfer/Deposit</span>
                            }
                            else if (order.PaymentMethod == 3)
                            {
                                <span>Ez Cash</span>
                            }
                            else if (order.PaymentMethod == 4)
                            {
                                <span>Come and Collect</span>
                            }
                            else
                            {
                                <span>@order.PaymentMethod</span>
                            }
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 row">
                        <div class="col-lg-6 col-md-12 col-sm-12 row"><strong>Delivery Method:</strong></div>
                        <div class="col-lg-6 col-md-12 col-sm-12 row">
                            @if (order.DeliveryMethod == 0)
                            {
                                <span>Postal</span>
                            }
                            else if (order.DeliveryMethod == 1)
                            {
                                <span>Courier</span>
                            }
                            else if (order.DeliveryMethod == 2)
                            {
                                <span>Collect From Store</span>
                            }
                            else
                            {
                                <span>@order.DeliveryMethod</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="col-lg-12 row">
                    <div class="col-lg-6 col-md-6 col-sm-6 row">
                        <div class="col-lg-12 row">
                            <strong>
                                Billing:
                            </strong>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 row">
                            <div class="col-lg-12 row"> @billing.FirstName @billing.LastName</div>
                            <div class="col-lg-12 row">@billing.AddressLine01</div>
                            <div class="col-lg-12 row"> @billing.AddressLine02</div>
                            <div class="col-lg-12 row">@billing.AddressLine03</div>
                            <div class="col-lg-12 row">@billing.City</div>
                            <div class="col-lg-12 row">@(billing.District != "All"? billing.District : billing.Country)</div>
                            <div class="col-lg-12 row">@delivery.EmailAddress</div>
                            <div class="col-lg-12 row">@billing.ContactNumber1</div>
                            <div class="col-lg-12 row"> @billing.ContactNumber2</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 row">
                        <div class="col-lg-12 row">
                            <strong>
                                Deliver To:
                            </strong>
                        </div>
                        <div class="col-lg-12 row">
                            <div class="col-lg-12 row">@delivery.FirstName @delivery.LastName</div>
                            <div class="col-lg-12 row">@delivery.AddressLine01</div>
                            <div class="col-lg-12 row"> @delivery.AddressLine02</div>
                            <div class="col-lg-12 row">@delivery.AddressLine03</div>
                            <div class="col-lg-12 row">@delivery.City</div>
                            <div class="col-lg-12 row">@(delivery.District!= "All"? delivery.District:delivery.Country)</div>
                            <div class="col-lg-12 row"> @delivery.EmailAddress</div>
                            <div class="col-lg-12 row">@delivery.ContactNumber1</div>
                            <div class="col-lg-12 row">@delivery.ContactNumber2</div>
                        </div>
                    </div>
                </div>
                    @*<table class="table table-borderless margin-left-negative-15px" style="line-height:5px;">
                        <tr>
                            <td>
                                <strong>
                                    Billing:
                                </strong>
                            </td>
                            <td>
                                <strong>
                                    Deliver To:
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td> @billing.FirstName @billing.LastName</td>
                            <td>@delivery.FirstName @delivery.LastName</td>
                        </tr>
                        <tr>
                            <td>@billing.AddressLine01</td>
                            <td>@delivery.AddressLine01</td>
                        </tr>
                        <tr>
                            <td>@billing.AddressLine02</td>
                            <td>@delivery.AddressLine02</td>
                        </tr>
                        <tr>
                            <td>@billing.AddressLine03</td>
                            <td>@delivery.AddressLine03</td>
                        </tr>
                        <tr>
                            <td>@billing.District</td>
                            <td>@delivery.District</td>
                        </tr>
                        <tr>
                            <td>Email: @billing.EmailAddress</td>
                            <td>Email: @delivery.EmailAddress</td>
                        </tr>
                        <tr>
                            <td>Phone: @billing.ContactNumber1</td>
                            <td>Phone: @delivery.ContactNumber1</td>
                        </tr>
                        <tr>
                            <td>@billing.ContactNumber2</td>
                            <td>@delivery.ContactNumber2</td>
                        </tr>
                    </table>*@

                    <div class="table-responsive-sm">
                        <table class="table table-striped">
                            <!--<thead>
                                <tr style="border-bottom: solid 1px gray;">-->
                                    @*<th>Book Image</th>*@
                                    <!--<th scope="col">Book Name</th>
                                    <th scope="col">Edition</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total Price</th>
                                    <th scope="col">Discount</th>
                                    <th scope="col">Net Total</th>

                                </tr>
                            </thead>-->
                            <tbody>
                                <tr style="border-bottom: solid 1px gray;">
                                    @*<th>Book Image</th>*@
                                    <th scope="col">Book Name</th>
                                    <th scope="col">Edition</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total Price</th>
                                    <th scope="col">Discount</th>
                                    <th scope="col">Net Total</th>

                                </tr>
                                @foreach (Cart_Book cb in cart.Items)
                                {
                                    BookVMTile b = BusinessHandlerBook.GetBookTileByBookId(cb.BookId);
                                    
                                    //List<BookProperties>bp = BusinessHandlerBookProperties.GetByBookId(cb.BookId);
                                    if (b != null)
                                    {

                                        string specialNote = "";
                                        if (!string.IsNullOrEmpty(cb.SpecialNote) && cb.SpecialNote == "(Preordered book)")
                                        {
                                            specialNote = "(Pre-Ordered book)";
                                        }
                                        else if (!string.IsNullOrEmpty(cb.SpecialNote))
                                        {
                                            specialNote = cb.SpecialNote;
                                        }

                                        <tr scope="row" style="border-bottom: solid 1px gray;">
                                            <td>
                                                @b.LocalBookName <strong> @specialNote</strong> <br />
                                                (@b.ISBN)
                                            </td>
                                            <td>
                                                @foreach (BookProperties p in b.Property)
                                                {
                                            ChangeBookPropertyVM model = new ChangeBookPropertyVM
                                            {
                                                bookId = cb.BookId,
                                                OldbookPropertyId = cb.BookPropertyId,
                                                NewpropertyId = p.Id
                                            };
                                            if (cb.BookPropertyId == p.Id)
                                            {
                                                @p.Title
                                                    }
                                        }
                                            </td>
                                            <td>

                                                @cb.NumberOfItems
                                            </td>
                                            <td>@cb.AmountBeforeDiscount</td>
                                            <td>@cb.Discount</td>
                                            <td>@cb.AmountAfterDiscount</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                            @*<thead>
                        <tr scope="row" class="grandtotal h4">
                            <td scope="col"></td>
                            <td scope="col"></td>
                            <td scope="col">@cart.Items.Sum(x => x.NumberOfItems) Item(s)</td>
                            <td scope="col">@cart.AmountBeforeDiscount</td>
                            <td scope="col">@cart.Discount</td>
                            <td scope="col">@cart.AmountAfterDiscount</td>
                            <td></td>
                        </tr>
                    </thead>*@
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-5">

                        </div>

                        <div class="col-lg-4 col-sm-5 ml-auto">
                            <table class="table table-clear">
                                <tbody>
                                    <tr>
                                        <td class="left">
                                            <strong>Subtotal</strong>
                                        </td>
                                        <td class="right">Rs. @cart.AmountBeforeDiscount</td>
                                    </tr>
                                    <tr>
                                        <td class="left">
                                            <strong>Discount</strong>
                                        </td>
                                        <td class="right">Rs. @cart.Discount</td>
                                    </tr>
                                    @*<tr>
                                <td class="left">
                                    <strong>VAT (10%)</strong>
                                </td>
                                <td class="right">$679,76</td>
                            </tr>*@
                                    <tr>
                                        <td class="left">
                                            <strong>Delivery Charges</strong>
                                        </td>
                                        <td class="right">Rs. @order.DeliveryCharges</td>
                                    </tr>
                                    @{
                                        decimal AmountTobeCollected = cart.AmountAfterDiscount + order.DeliveryCharges;
                                        decimal remainingAmount = cart.AmountAfterDiscount;
                                        if (!string.IsNullOrEmpty(cart.VoucherCode))
                                        {
                                            Voucher voucher = BusinessHandlerVoucher.GetActiveVoucherByCodeForInvoice(cart.VoucherCode);
                                            remainingAmount = (cart.AmountAfterDiscount + order.DeliveryCharges) - voucher.VoucherAmount;
                                            <tr>
                                                <td><strong>Voucher Added (@voucher.Code)</strong></td>
                                                <td>Rs : @voucher.VoucherAmount</td>
                                            </tr>
                                            if ((cart.AmountAfterDiscount + order.DeliveryCharges) - voucher.VoucherAmount > -1)
                                            {
                                                AmountTobeCollected = ((cart.AmountAfterDiscount + order.DeliveryCharges) - voucher.VoucherAmount);
                                                <tr class="grandtotal">
                                                    <td><strong>Remaining Payment</strong></td>
                                                    <td><strong>Rs : @((cart.AmountAfterDiscount + order.DeliveryCharges) - voucher.VoucherAmount)</strong></td>
                                                </tr>
                                            }
                                            else
                                            {
                                                AmountTobeCollected = 0;
                                                <tr class="grandtotal">
                                                    <td><strong>Remaining Payment</strong></td>
                                                    <td><strong>Rs : 0.00</strong></td>
                                                </tr>
                                            }

                                        }
                                        else
                                        {
                                            <tr>
                                                <td class="left">
                                                    <strong>Total</strong>
                                                </td>
                                                <td class="right">
                                                    <strong>Rs. @(cart.AmountAfterDiscount + order.DeliveryCharges)</strong>
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>
            </div>
        @if (!string.IsNullOrEmpty(order.PaymentSpecialNote))
        {
            <div class="col-lg-12">
                <h6>Special Note</h6>
                @order.PaymentSpecialNote
            </div>
        }
        
        <div class="col-12 text-center text-danger">This is computer genarated invoice. No signature required.</div>
    </div>
</body>
</html>
