@using Online_book_shop.Handlers.Business;
@using Online_book_shop.Models.ViewModel;
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<DataObjVM> data = ViewBag.list;
}

<h2>Create Promotion</h2>
<form id="form-add-promotion" method="post" action="/Admin/Promotion/Create" enctype="multipart/form-data">
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" id="PromotionTitle" name="PromotionTitle" placeholder="Title">
    </div>
    <div class="form-group">
        <label>Summary</label>
        <textarea type="text" class="form-control" id="PromotionDescription" name="PromotionDescription" placeholder="Summary"></textarea>
    </div>
    <div class="form-group">
        <label>Promotion Types For</label>
        <div class="select">
            <select id="PromotionTypesFor" class="form-control" name="PromotionTypesFor">
                @foreach (var item in Enum.GetValues(typeof(PromotionTypesFor)))
                {
                    if ((int)item > 0)
                    {
                        <option style="display:none" value="@((int)item)">@item</option> }
                    else
                    {
                        <option value="@((int)item)">@item</option>}

                    }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>PromotionMethods</label>
        <div class="select">
            <select id="PromotionMethods" class="form-control" name="PromotionMethods">
                @foreach (var item in Enum.GetValues(typeof(PromotionMethods)))
                {
                    <option value="@((int)item)">@item</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>Object Type</label>
        <div class="select">
            <select id="ObjectType" class="form-control" name="ObjectType">
                @foreach (var item in Enum.GetValues(typeof(ObjectTypes)))
                {
                    <option value="@((int)item)">@item</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>Object </label>
        <div class="select">
            <select id="ObjectId" class="form-control" name="ObjectId">
                @foreach (var item in data)
                {
                    if (item.ObjType == 0)
                    {
                        <option data-otherPara="@item.OtherPara" class="obj_@item.ObjType obj_select" value="@item.Id">@item.Name</option>
                    }
                    else
                    {
                        <option  data-otherPara="@item.OtherPara" style="display:none;" class="obj_@item.ObjType obj_select" value="@item.Id">@item.Name</option>
                    }

                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>Discount Value</label>
        <input type="text" class="form-control" id="DiscountValue" name="DiscountValue" placeholder="Discount Value">
    </div>
    <div class="form-group">
        <label>Other Parameters</label>
        <input type="text" class="form-control" value="@data.FirstOrDefault().OtherPara" id="OtherParameters" name="OtherParameters" placeholder="Other Parameters">
    </div>
    <div class="form-group">
        <label>Start Date</label>
        <input type="text" class="form-control" id="StartDate" name="StartDate" placeholder="StartDate">
    </div>
    <div class="form-group">
        <label>End Date</label>
        <input type="text" class="form-control" id="EndDate" name="EndDate" placeholder="EndDate">
    </div>
    <div class="form-group">
        <label>Main Image</label>
        <input type="file" class="form-control-file author_prof" id="MainPicture" name="MainPicture">
        <div>
            <img id="temp_img_author_prof" style="height:100px;" class="img-thumbnail" src="~/Content/images/NoImage.jpg" alt="Profile Image" />
        </div>
    </div>

    <div class="form-group text-right">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>
