@using Online_book_shop.Models;
@using Online_book_shop.Models.ViewModel;
@using Online_book_shop.Handlers.Helper;
@using Online_book_shop.Handlers.Business;
@{ 
    Publisher publisher = ViewBag.publisher;
    List<BookVMTile> books = ViewBag.Books != null ? ViewBag.Books : new List<BookVMTile>();
    int NumberOfBooks = ViewBag.TotalNumberOfBooks != null ? ViewBag.TotalNumberOfBooks : 0; 
}

<div class="container">
    <h3>සියලු පොත් - All Books (@NumberOfBooks Books found)</h3>
    @{ 
        int CurrentPage = 1;
        if (Request.QueryString["page"] != null && Convert.ToInt32(Request.QueryString["page"]) > 1)
        {
            CurrentPage = Convert.ToInt32(Request.QueryString["page"]);
        }
        Pager _pager = HTMLHelper.GetPager(CurrentPage, NumberOfBooks, 40);

        <div class="pagination">
            @if (_pager.Prev.isEnable)
            {
                <a class="prev" href="/BookProfile/AllBooks?page=@_pager.Prev.LinkPageId#container">&lt;&lt; Previous</a> 
            }
            else
            {
                <a class="prev" style="background-color: #bdb5b573;">&lt;&lt; Previous</a>            
            }
            @foreach (var i in _pager.LinkedPages.OrderBy(x => x))
            {
                if (i == CurrentPage)
                {
                    <div class="currentpage" data-url="">@i</div> 
                }
                else
                {
                    <div class="currentpage page-number" style="background-color:#bdb5b573" data-url="/BookProfile/AllBooks?page=@i#container">@i</div>                
                }

            }


            @if (_pager.Next.isEnable)
            {
                <a class="Next" href="/BookProfile/AllBooks?page=@_pager.Next.LinkPageId#container">Next &gt;&gt; </a> 
            }
            else
            {
                <a class="Next" style="background-color: #bdb5b573;">Next &gt;&gt; </a>            
            }

        </div> 
        }




    <div class="bookcat-col active">
        @if (books != null)
        {
            <div class="authorwork book-overview" id="authors-work">
                @foreach (BookVMTile b in books)
                {
                    BookProperties bookProperty = b.Property.Where(p => p.NumberOfCopies > 0).OrderBy(p => p.Price).FirstOrDefault();
                    BookPromotionVM promo = BusinessHandlerPromotion.GetPromotionForBook(b.Id, bookProperty != null ? bookProperty.Id : 0, bookProperty != null ? bookProperty.Price : 0);
                        <div class="item">
                            <div class="item-inner">
                                @if (promo != null)
                                {
                                    if (promo.PromotionMethods == (int)PromotionMethods.DeductFromFinalAmount)
                                    {
                        <div class="discount-pers">Offer<br />Off</div> }
                                                else if (promo.PromotionMethods == (int)PromotionMethods.FixedAmount)
                                                {
                        <div class="discount-pers">@promo.DiscountValue<br />Off</div> }
                                                else if (promo.PromotionMethods == (int)PromotionMethods.Percentage)
                                                {
                        <div class="discount-pers">@promo.DiscountValue%<br />Off</div>}
                                            }
                                <div class="viewmore-discprice">
                                    <a href="/book/@HTMLHelper.GetUrl(b.Url,b.Id)" class="viewmore"></a>
                                    @if (promo != null && promo.DiscountValue > 0)
                                    {
                        <div class="discounted-price">-Rs.@promo.DiscountAmount/=</div>}
                                </div>
                                <div class="book-image">
                                    @if (b.FrontCover != null && HTMLHelper.isImageExist("Content/UploadFiles/Images/BookFrontCover/" + b.FrontCover.FileName))
                                    {
                        <img src="@Url.Action("Thumbnail", "Utility", new {FileName="~/Content/UploadFiles/Images/BookFrontCover/"+b.FrontCover.FileName})"
                             class="img-fluid"
                             title="@b.BookName"
                             alt="muses @b.BookName" /> @*<img src="~/Content/UploadFiles/Images/BookFrontCover/@b.FrontCover.FileName?w=160&h=100" alt="@b.BookName" />*@ }
                                                else
                                                {
                            <img src="~/Content/images/no-image-book.jpg" alt="@b.BookName" />}

                                </div>
                                <div class="book-name-author ">
                                    <div class="name"><span class="sinhala">@b.LocalBookName</span> @*- <span class="english">@b.BookName</span>*@</div>
                                </div>
                                <div class="book-name-author">
                                    <div class="author"><span class="sinhala">@b.LocalAuthorName</span> @*- <span class="english">@b.AuthorName</span>*@</div>
                                </div>

                                <div class="category">
                                    @foreach (Category c in b.Categories.Take(2))
                                    {
                        <span class="cat-name">@c.CategoryName</span>}
                                </div>
                                <div class="rating">
                                    <div class="stars" data-rating="@BusinessHandlerUserReviews.GetBookRating(b.Id)"></div>
                                </div>
                                @{ if (bookProperty != null)
                                                        {
                                                            if (promo != null)
                                                            {
                                                                if (promo.DiscountAmount > 0)
                                                                {
                                    <div class="price hasdiscount">Rs.@promo.BookPrice/=</div>
                                                                    <div class="discount-price">Rs.@promo.BookPriceAfterDiscount/=</div> }
                                                                                                else
                                                                                                {
                                                                    <div class="discount-price">Rs.@bookProperty.Price/=</div> }
                                                                                            }
                                                                    <div class="@(HTMLHelper.isCartEnabled(b.SaleType,bookProperty.NumberOfCopies)?"addto-cart btn-active add-to-cart":"addto-cart btn-active add-to-cart tile-addto-cart-dissabled")" data-book_id="@b.Id" data-book_prop_id="@bookProperty.Id" data-number_of_items="1">
                                                                        Add to Cart
                                                                        <div class="icon"></div>
                                                                    </div> }
                                                                                        else
                                                                                        {
                                                                    <div class="price msg-availability">@HTMLHelper.GetNoStockMessage(b.SaleType)</div>
                                                                                            <div class="addto-cart btn-active add-to-cart tile-addto-cart-dissabled">
                                                                                                Add to Cart
                                                                                                <div class="icon"></div>
                                                                                            </div> } }
                            </div>
                        </div>                
                }
            </div>
    }

    </div>
    <div class="pagination">
        @if (_pager.Prev.isEnable)
        {
            <a class="prev" href="/BookProfile/AllBooks?page=@_pager.Prev.LinkPageId#container">&lt;&lt; Previous</a> 
        }
        else
        {
            <a class="prev" style="background-color: #bdb5b573;">&lt;&lt; Previous</a>
        }
        @foreach (var i in _pager.LinkedPages.OrderBy(x => x))
        {
            if (i == CurrentPage)
            {
                <div class="currentpage" data-url="">@i</div> }
                else
                {
                    <div class="currentpage page-number" style="background-color:#bdb5b573" data-url="/BookProfile/AllBooks?page=@i#container">@i</div>
                }

        }

        @if (_pager.Next.isEnable)
        {
            <a class="Next" href="/BookProfile/AllBooks?page=@_pager.Next.LinkPageId#container">Next &gt;&gt; </a> 
        }
        else
        {
            <a class="Next" style="background-color: #bdb5b573;">Next &gt;&gt; </a>
        }

    </div>

</div>
