@using Online_book_shop.Models;
@using Online_book_shop.Handlers.Helper;
@{
    ViewBag.Title = "Edit Author";
    Author author = ViewBag.Author;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit Author</h2>

@if (author != null)
{
<form id="form-add-author" method="post" action="/Admin/Author/UpdateAuthorProfile" enctype="multipart/form-data">
    <input type="hidden" name="Id" value="@author.Id" />
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" id="Name" name="Name" value="@author.Name" placeholder="Name" required>
    </div>
    <div class="form-group">
        <label>Name(Sinhala)</label>
        <input value="@author.LocalName" type="text" class="form-control" id="LocalName" name="LocalName" placeholder="Name(Sinhala)">
    </div>
    <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" id="Email" name="Email" value="@author.Email" placeholder="Enter email" >
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea type="text" class="form-control" id="Description" name="Description" placeholder="Description" >@author.Description</textarea>
    </div>
    <div class="form-group">
        <label>External URL</label>
        <input type="text" class="form-control" id="ExternalURL" name="ExternalURL" value="@author.ExternalURL" placeholder="FB,Twitter,Linkedin etc." />
    </div>
    <div class="form-group">
        <label>Update Profile Image (278px * 318px)</label>
        <input type="file" class="form-control-file author_prof" id="ImageFile" name="ImageFile">
        <div>
            <img id="temp_img_author_prof" style="height:100px;" class="img-thumbnail" src="~/Content/images/NoImage.jpg" alt="Profile Image" />
        </div>
        @if (author.ProfileImage != null && HTMLHelper.isImageExist("Content/UploadFiles/Images/ProfilePicture/" + author.ProfileImage.FileName))
        {
            <img src="~/Content/UploadFiles/Images/ProfilePicture/@author.ProfileImage.FileName" width="100" />
        }
        else
        {
            <div class="div-square">
                <i class="fa fa-user fa-5x"></i>
            </div>
        }
    </div>
    <div class="form-group">
        <label>Update Cover Image</label>
        <input type="file" class="form-control-file author_cover" id="ImageFile_Cover" name="ImageFile_Cover">
        <div>
            <img id="temp_img_author_cover" style="height:100px;" class="img-thumbnail" src="~/Content/images/NoImage.jpg" alt="Profile Image" />
        </div>
        @if (author.CoverImage != null && HTMLHelper.isImageExist("Content/UploadFiles/Images/CoverImage/" + author.CoverImage.FileName))
        {
            <img src="~/Content/UploadFiles/Images/CoverImage/@author.CoverImage.FileName" width="100" />
        }
        else
        {
            <div class="div-square">
                <i class="fa fa-user fa-5x"></i>
            </div>
        }
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
}


