@using Online_book_shop.Models;
@using Online_book_shop.Handlers.Business;
@using Online_book_shop.Handlers.Helper;
@{
    ViewBag.Title = "Index";
    List<Author> authors = ViewBag.Authors;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    double timeOffset = BusinessHandlerConfigurations.GetTimeOffSet();
}
<h1>Authors</h1>

<table class="table">
    <thead>
        <tr>
            <th colspan="3" scope="col"><input class="col-lg-12" id="searchInput" type="text" placeholder="Search.."></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"><a href="/Admin/Author/CreateAuthor" class="btn btn-info">New Author</a></th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th scope="col">Author Id</th>
            <th scope="col">Name</th>
            <th scope="col">Created date</th>
            <th scope="col">Operation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Author author in authors)
        {
            <tr class="author-card">
                <th scope="row">@author.Id</th>
                <td>@author.Name</td>
                <td>@author.CreatedDate.AddHours(timeOffset).ToString("yyyy/MM/dd h:mm tt")</td>
                <td>
                    <a href="/Admin/Author/EditAuthor/@author.Id" class="btn-sm btn-info">Edit</a>
                    @if (author.isDeleted)
                    {
                        <a href="/Admin/Author/ShowItem/@author.Id" class="btn-sm btn-warning">Show</a>
                    }
                    else
                    {
                        <a href="/Admin/Author/HideItem/@author.Id" class="btn-sm btn-danger">Hide</a>
                    }
                </td>
            </tr>
        }

    </tbody>
</table>
@*<h2>Authors</h2>
<div class="col-lg-12 row">
    <input class="col-lg-12 " id="searchInput" type="text" placeholder="Search..">
</div>
<div class="col-lg-12">
    @foreach (var author in authors)
    {
        Media m = BusinessHandlerMedia.Get(author.ProfilePictureMediaId);

        <div class="card col-lg-4 row author-card text-center">
            @if (m != null && HTMLHelper.isImageExist("Content/UploadFiles/Images/ProfilePicture/" + m.FileName))
            {
                <img src="~/Content/UploadFiles/Images/ProfilePicture/@author.ProfileImage.FileName" height="100" alt="@author.ProfileImage.FileName" />
            }
            else
            {
                <img height="100" src="https://www.iconninja.com/files/266/969/253/glasses-person-user-male-man-avatar-icon.png">

            }
            <h4>@author.Name</h4>
            <p class="title">@author.ContactNumber</p>
            <p>@author.Email</p>
            <div class="btn-group " role="group" aria-label="">
                <a href="/Admin/Author/EditAuthor/@author.Id" type="button" class="btn btn-info">Edit author</a>
                <a type="button" class="btn btn-danger">Hide author</a>
            </div>
        </div>



    }
</div>*@