@model Online_book_shop.Models.Order
@using Newtonsoft.Json;
@using Online_book_shop.Models;
@using Online_book_shop.Models.ViewModel;
@using Online_book_shop.Handlers.Helper;
@using Online_book_shop.Handlers.Business;
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    Cart cart = ViewBag.cart;
    Address billing = @BusinessHandlerAddress.GetAddress(Model.BillingAddressId);
    Address delivery = @BusinessHandlerAddress.GetAddress(Model.DeliveryAddressId);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Get</title>
</head>
<body>
    <div class="col-lg-12">
        <a href="/Admin/Order/GetAll?deliveryStatus=2&OrderType=1" class="btn btn-danger float-left">Back To List</a>
    </div>
    <div class="col-lg-12">

        <div class="panel panel-danger">
            <div class="panel-heading">
                Update Delivery Status
            </div>
            <div class="panel-body">
                @{
                    List<DeliverStatus> deliveryStatus = BusinessHandlerDeliveryStatus.GetAllActiveDeliverStatus();
                    foreach (DeliverStatus item in deliveryStatus)
                    {
                        if (item.Title != "temp_cart")
                        {
                            <div class="form-check form-check-inline col-lg-2">
                                @if (Model.DeliveryStatus > item.Id || Model.DeliveryStatus == item.Id)
                                {
                                    <input class="form-check-input" data-order-id="@Model.Id" disabled checked type="checkbox" id="DeliveryStatus_@item.Id" value="@item.Id">
                                }
                                else
                                {
                                    <input class="form-check-input delivery-status-dd" data-order-id="@Model.Id" type="checkbox" id="DeliveryStatus_@item.Id" value="@item.Id">
                                }

                                <label class="form-check-label" for="DeliveryStatus_@item.Id">@item.DisplayText</label>
                            </div>
                        }

                    }
                }
            </div>

        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">
                Update Payment Status
            </div>
            <div class="panel-body">
                <div class="form-group col-lg-4">
                    <label >Select Payment Status</label>
                    <div class="select">
                        <select class="form-control  col-lg-4" id="select-payment-status">
                            <option @(Model.PaymentStatus == 0 ? "selected" : "") value="0">PendingPayment</option>
                            <option @(Model.PaymentStatus == 1 ? "selected" : "") value="1">Paid</option>
                            <option @(Model.PaymentStatus == 2 ? "selected" : "") value="2">Waiting For Payhere Update</option>
                        </select>
                    </div>
                  <input type="hidden" id="hidden-payment-status" value="@Model.PaymentStatus" />

                </div>
                <div class="form-group  col-lg-6">
                    <label for="paymentNote">Payment Note</label>
                    <input type="text" class="form-control" id="paymentNote" aria-describedby="paymentNote" placeholder="Enter payment note">                 
                    <button data-order-id="@Model.Id" class="btn btn-sm btn-warning float-right update-order-payment-sttaus">Update</button>
                </div>
                
            </div>

        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Basic Details
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <h5>Reference ID <span class="badge badge-secondary">@Model.UId</span></h5>
                    </div>
                    <div class="form-group">
                        <h5>Order ID <span class="badge badge-secondary">@Model.Id</span></h5>
                    </div>
                    <div class="form-group">
                        <h5>Cart ID <span class="badge badge-secondary">@Model.CartId</span></h5>
                    </div>
                    <div class="form-group">
                        <h5>Waybill ID <span class="badge badge-secondary">@Model.WaybillId</span></h5>
                    </div>
                    <div class="form-group">
                        <strong>Name</strong>
                        <hr />
                        <div class="alert alert-info">
                            <strong>@Model.FirstName @Model.LastName</strong>
                        </div>
                    </div>


                    @*<div class="form-group">
                        <label>Contact Number</label>
                        <input type="text" value="@Model.ContactNumber" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label>Email Address</label>
                        <input type="text" value="@Model.EmailAddress" class="form-control" disabled>
                    </div>
                    <div class="form-group">
            <label>Delivery method</label>
            <input type="text" value="@Model.EmailAddress" class="form-control" disabled>
        </div>*@
                    <div class="form-group">
                        <h5>
                            Payment method

                            @if (Model.PaymentMethod == 0)
                            {
                                <span class="badge badge-secondary">Cash On Delivery</span> }
                            else if (Model.PaymentMethod == 1)
                            {
                                <span class="badge badge-secondary">Online Payment</span> }
                            else if (Model.PaymentMethod == 2)
                            {
                                <span class="badge badge-secondary">Bank Deposit</span> }
                            else if (Model.PaymentMethod == 3)
                            {
                                <span class="badge badge-secondary">Ez cash</span> }
                            else if (Model.PaymentMethod == 4)
                            {
                                <span class="badge badge-secondary">In Stock Payment</span> }
                            else if (Model.PaymentMethod == 5)
                            {
                                <span class="badge badge-secondary">KOKO Payment</span> }
                            else
                            {
                                <span class="badge badge-secondary">@Model.PaymentMethod</span>}
                        </h5>
                    </div>

                    <div class="form-group">
                        <h5>
                            Delivery method

                            @if (Model.DeliveryMethod == 0)
                            {
                <span class="badge badge-secondary">Postal</span> }
                            else if (Model.DeliveryMethod == 1)
                            {
                <span class="badge badge-secondary">Courier</span> }
                            else if (Model.DeliveryMethod == 2)
                            {
                <span class="badge badge-secondary">Collect From Store</span> }
                            else
                            {
                <span class="badge badge-secondary">@Model.DeliveryMethod</span>}
                        </h5>
                    </div>
                    <div class="form-group">
                        <h5>Delivery Charges : <span class="badge badge-secondary">@Model.DeliveryCharges</span></h5>
                    </div>
                    <div class="form-group">
                        <label>Internal Remarks</label>
                        <div>@Model.DeliverySpecialNote</div>
                        @*<div>@Model.DeliverySpecialNote</div>*@
                    </div>
                    <div class="form-group">
                        <label>Special Notes</label>
                        <div>@Model.PaymentSpecialNote</div>
                        @*<div>@Model.DeliverySpecialNote</div>*@
                    </div>
                    <div class="form-group">
                        <h5>
                            Delivery Status

                            @if (deliveryStatus != null)
                            {
                                DeliverStatus status = deliveryStatus.Where(x => x.Id == Model.DeliveryStatus).FirstOrDefault();
                                if (status != null)
                                {
                <span class="badge badge-secondary">@status.DisplayText</span> }
                                else
                                {
                <span class="badge badge-secondary">@Model.DeliveryStatus<</span> }
                            }
                            else
                            {
                <span class="badge badge-secondary">@Model.DeliveryStatus<</span>}
                        </h5>

                    </div>
                    <div class="form-group">
                        <h5>
                            Payment Status

                            @if (Model.PaymentStatus == 0)
                            {
                <span class="badge badge-secondary">Pending</span> }
                            else if (Model.PaymentStatus == 1)
                            {
                <span class="badge badge-secondary">Paid</span> }
                            else
                            {
                <span class="badge badge-secondary">@Model.PaymentStatus</span>}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Cart Details
                </div>
                <div class="panel-body">
                    <div class="table table-striped">
                        <table style="width:100%">
                            <thead>
                                <tr style="border-bottom: solid 1px gray;">
                                    @*<th>Book Image</th>*@
                                    <th scope="col">Book Name</th>
                                    <th scope="col">Edition</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total Price</th>
                                    <th scope="col">Discount</th>
                                    <th scope="col">Net Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Cart_Book cb in cart.Items)
                                {
                                    BookVMTile b = BusinessHandlerBook.GetBookTileByBookId(cb.BookId);
                                    //List<BookProperties>bp = BusinessHandlerBookProperties.GetByBookId(cb.BookId);
                                    string specialNote = "";
                                    if (!string.IsNullOrEmpty(cb.SpecialNote) && cb.SpecialNote == "(Preordered book)")
                                    {
                                        specialNote = "(Pre-Ordered book)";
                                    }
                                    else if (!string.IsNullOrEmpty(cb.SpecialNote))
                                    {
                                        specialNote = cb.SpecialNote;
                                    }
                                    <tr scope="row" style="border-bottom: solid 1px gray;">
                                        <td>
                                            @b.BookName <strong> @specialNote</strong><br />
                                            (@b.ISBN)
                                        </td>
                                        <td>
                                            @foreach (BookProperties p in b.Property)
                                            {
                                                ChangeBookPropertyVM model = new ChangeBookPropertyVM
                                                {
                                                    bookId = cb.BookId,
                                                    OldbookPropertyId = cb.BookPropertyId,
                                                    NewpropertyId = p.Id
                                                };
                                                if (cb.BookPropertyId == p.Id)
                                                {
                                                    @p.Title
                                                }
                                            }
                                        </td>
                                        <td>

                                            @cb.NumberOfItems
                                        </td>
                                        <td>@cb.AmountBeforeDiscount</td>
                                        <td>@cb.Discount</td>
                                        <td>@cb.AmountAfterDiscount</td>
                                    </tr>

                                }
                            </tbody>
                            <thead>
                                <tr scope="row" class="grandtotal h4">
                                    <td scope="col"></td>
                                    <td scope="col"></td>
                                    <td scope="col">@cart.Items.Sum(x => x.NumberOfItems) Item(s)</td>
                                    <td scope="col">@cart.AmountBeforeDiscount</td>
                                    <td scope="col">@cart.Discount</td>
                                    <td scope="col">@cart.AmountAfterDiscount</td>
                                    <td></td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-6 bg-warning">
                            <div class="form-group">
                                <strong>Billing Address</strong>
                                <hr />
                                <div class="alert alert-info">
                                    @{
                                        if (billing != null)
                                        {
                                            <strong>
                                                @billing.FirstName @billing.LastName <br />
                                                @billing.AddressLine01,<br />
                                                @billing.AddressLine02,<br />
                                                @billing.AddressLine03.<br />
                                                @billing.District<br />
                                                @billing.Country<br />
                                                @billing.PostalCode<br />
                                                @billing.ContactNumber1 <br />
                                                @billing.ContactNumber2<br />
                                                @billing.EmailAddress.
                                            </strong>
                                        }
                                    }

                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 border-left bg-primary">
                            <div class="form-group">
                                <strong>Delivery Address <i class="fas fa-person-booth"></i></strong>
                                <hr />
                                <div class="alert alert-info">
                                    @{
                                        if (delivery != null)
                                        {
                                            <strong>
                                                @delivery.FirstName @delivery.LastName <br />
                                                @delivery.AddressLine01,<br />
                                                @delivery.AddressLine02,<br />
                                                @delivery.AddressLine03.<br />
                                                @delivery.District<br />
                                                @delivery.Country<br />
                                                @delivery.PostalCode<br />
                                                @delivery.ContactNumber1 <br />
                                                @delivery.ContactNumber2<br />
                                                @delivery.EmailAddress.

                                            </strong>
                                        }
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>

</body>
</html>
